* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

section{
    height: 550px;
}

.top-section{
    background-image: url("assets/images/top-banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

h1{
    font-size: 50px;
    line-height: 80px;
}

h1 .font{
    font-size: 55px;
    font-family: 'Roboto Slab', serif;
}

h1 .color{
    color: rgb(255, 166, 0);
}

.container{
    width: 100%;
    margin: 0px auto;
    padding: 0px 100px;
}

.left-content{
    float: left;
    width: 40%;
    margin-top: 10px;
}

.right-content{
    float: left;
    width: 40%;
    margin-top: 10px;
}

.text-container h3{
    margin-top: 35px;
    margin-bottom: 15px;
}

p{
    color: #7f7f85;
    line-height: 25px;
}

.button1{
    width: 150px;
    height: 45px;
    margin-top: 10px;
    background-image: linear-gradient(45deg,lightsalmon, tomato );
    border-radius: 5px;
    border-style: none;
}

.button1 .a1 {
    text-decoration: none;
    font-size: 17px;
    color: white;
}

.image img{
    width: 100%;
    margin-left: 50px;
}

.half-side{
    width: 40%;
    float: left;
    
}

.second-section{
    background-image: url("assets/images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: bottom;
    margin: 150px 0px;
    overflow: hidden;
    width: 100%;
}

.image1 img{
    width: 100%;
}

.text-container2{
    margin-top: 40px;
    margin-left: 75px;
}

.text-container2 h3{
    margin-top: 35px;
    margin-bottom: 25px;
}

.text-container2 p{
    margin-bottom: 17px;
}

.text-container2 a{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    
    padding: 10px 30px;
    border-radius: 5px;
}

.exp-area{
    overflow: hidden;
    width: 100%;
    background-image: url("assets/images/exp-bg.png");
    background-repeat: no-repeat;
    background-position-y: 250px;
    background-size: 120px;
}

.exp-h1{
    margin-bottom: 35px;
}

.half-exp{
    width: 40%;
    float: left;
    box-shadow: 10px 10px 40px gray;
    border-radius: 8px;
    padding: 25px 10px 0px 25px;
    height: 350px; !important
}

#first-exp{
    border-left: 7px solid;
    border-image: linear-gradient(#ff9e79 , #ff6c4f);
    border-image-slice: 1;
}

#second-exp{
    margin-left: 50px;
    border-left: 7px solid;
    border-image: linear-gradient(#0008ff , #01f1ff);
    border-image-slice: 1;
}

.orange{
    margin: 50px 0px 20px 0px;
    color: rgb(255, 166, 0);
    font-weight: 700;
}

footer p{
    margin: 130px 0px 10px 0px;
    text-align: center;
    font-size: 15px;
}